:root {
    --cyan-accent: #00f0ff;
    --cyan-accent-inactive: #0a9199;
    --cyan-text: #6df4f5;
    --cyan-sidebar-text: #00cad1;
    --cyan-header: #163339;
    --amoled: #000000;
    --back-side: #14121b;
    --back: #090813;
    --yellow-accent: #fcee0a;
    --net-link: #cfec57;
    --red-accent: #bd1f26;
    --red: #842623;
    --red-hover: #4e191c;
    --lime: #15ff00;
    --green: #1bd888;
}

html,
body {
    height: 100%;
    margin: 0;
    background: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.entry {
    display: flex;
    overflow-y: auto;
    color: var(--red-accent);
    background-color: var(--back-side);

}

.app-list {
    overflow: auto;
}

.app-icon {
    width: 42px;
    height: 42px;
    padding: 2px;
    margin: 1px;
    background-color: var(--green);
}

.app-name {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.entry.selected {
    color: var(--cyan-accent);
    border: 1px solid white;
    border-image: url("./assets/combined-entry-border.svg") 5% stretch;

    margin: 1px 2px;
}

#filter {
    margin: 5px;
    text-align: center;
}
